.cart {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.cart__ads {
  width: 90%;
  margin-bottom: 10px;
  border-radius: 2px;
}

.cart__title{
    font-size: larger;
    margin-top: -20px;
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}