.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0)) ;
    /* this mask-image will bring the fader color at the bottom
    (for more information please check the originalimage and the image in the website) */
}
